:root{
        --little-space: 15px;
        --space: 30px;
        --icon: 32px;
        --icon-hover: 42px;
        --sub-list: 50px;
        --white1: #c7c7c7;
        --ten-px: 10px;
        --main-bg: 250px;
        --viewport-min: 100px;
}
