*{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
}

/*######################## LOADER ##################*/


/*######################## ICON CLASSES ##################*/
.icon{
        width: var(--icon);
        height: var(--icon);
}

.icon-container{
        display: flex;
        text-decoration: none;
        color: white !important;
}

.icon-container img{
        filter: invert(75%);
        width: var(--icon);
        height: var(--icon);
        margin-right: var(--space);
}

.icon-container h6{
        width: 70%;
        color: white !important;
}

.icon-container:hover h6{
        color: white;
}
.icon-container:hover img{
        filter: invert(100%);
        width: var(--icon-hover);
        height: var(--icon-hover);
        transition: 2s;

}






/*######################## SIDE MENU CLASSES ##################*/

/*######################## GENERAL CLASSES ##################*/


.disabled{
        pointer-events: none;
        opacity: 0.4;
}


.form{
        border: 1px solid black;
        padding: var(--space);
}

.info h5{
        text-align: center;
        font-weight: bold;

}

.info,
.inputs{
        margin-bottom: var(--space);
        width:100%;
}

.form-min{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: var(--viewport-min);
        padding-bottom: var(--viewport-min);
}

.form-min-in{
        max-width: 360px;
}

.label-form{
        margin-bottom: 0px;
        margin-top: var(--ten-px);
}


.table-container{
        display: block;
        overflox-x: auto;
}

.table-min{
        font-size: var(--ten-px);
}

.no-border{
        border: none;
}

.noHover-icon:hover img{
        width: var(--icon) !important;
        height: var(--icon) !important;
        transition: unset !important;
}


.main-bg{
        min-height: 90vh;
        background-color: var(--white1);
        background-size: var(--main-bg);
}

.inner-bg{
        padding-top: var(--little-space);
        padding-bottom:  var(--little-space);
}

image-bg{
        background-color: var(--white1);
        background-size: cover;
}


.divOf2{
        min-height: 100vh;
}
/*¿aplicar filter con hover?*/





/* Estilos para la página de consultas*/
.flexer{
        display: flex;
        justify-content: center;
        background-color: var(--white1);
}

.principal{
        margin-top: var(--little-space);
        max-width:1060px;        
        background-color: white;
}



.paciente, .pasado, .examen, .diagnóstico{
        height: auto;
        padding: 15px;
        border-bottom: 2px solid grey;
}

.input{
        width: 100%;
        display: flex;
}

.input>label{
        width: 50%;
        display: flex;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        justify-content: center;

}

.input>input{
        width: 50%;
}


.alerta, .obs{
        width: 100%;
        padding: 15px;
}

.alerta{
        border-bottom: 1px solid black;
}

.titulo{
        width: 100%;
        margin-bottom: 15px;
}

.titulo>h4{
        text-align: center;
        font-weight: bold;
}
.titulo>span{
        display: table;
        margin: 0 auto;
}

.textarea{
        width: 100%;
        height: 100px;

        min-width: 100%;
        min-height: 50px;

        max-width: 100%;
        max-height: 200px;
}

.registroSíntomas{
        padding: 15px;
        border-bottom: 1px solid black;
}

.diagnos, .receta{
        padding: 15px;
}

.carta-int{
        background: white;
}

.viewer{
        display: flex;
        height: 100%;
        justify-content: center;
        padding: var(--little-space);
}

.pdf-view{
        width: 100%;       
}


.separador{
        width: 100%;
        padding: var(--little-space);
        
}

/* Estilos para la página de gestión */ 

.sub-menu:hover{
    background: gray !important; 
}

.encima{
    position: relative !important;
}






/*######################## BOOTSTRAP REWRITE RULES ##################*/

.col-int{
        padding-left: 0px !important;
        padding-right: 0px !important;
}

.row{
        margin-right: 0px !important;
        margin-left: 0px !important;
}

.form-control{
        margin-bottom: var(--ten-px);
}

.jumbotron{
        margin-bottom: 0px !important;
}

.alert{
        text-align: center !important;
}


/*######################## MAIN RULES ##################*/

main{
        min-height: 90vh;
}


footer{
        padding: var(--space);
}




table{
        border-collapse: separate;
}
th, td, tr{
        padding: 1px !important;
        border: 1px solid black !important;
        text-align: center;
}

body iframe{
        display: none;
}

footer{
        margin-top: 0px;
}


/*######################## ID RULES ##################*/


#sintomas, #medicamentos{
        padding-top: var(--little-space);
        width: 100%;
}

#reloj{
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 30px;
        
}



/*######################## MEDIA CLASSES ##################*/

@media screen and (max-width: 550px) {
        table, .delete {
                display: block;
                overflow-x: auto;
                font-size: var(--ten-px);

        }


}